# Folders
Debug
Release
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/wmic_visual/cerr
/wmic_visual/cout
/wmic_visual/sysinfo.json
/wmic_visual/wmic_visual.vcxproj.user
